body {
  background-color: black;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("Images/Harry Potter Sorting Hat.jpg");
}

.card {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
}

.container {
  
  }

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgb(86, 86, 125);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
    }

.model content {
  width: 500;
  height: 300;
  background-color: antiquewhite;
    border-radius: 4px;
  text-align: center;
  padding: 50px;
  position: relative;
 }

.close {
  position: absolute;
  top: 0;
  right: 15px;
  transform: rotate(45deg);
}

.form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkkhaki;
}

.expelled {
  background-color: blue;
}
